
<div class="card my-4" style="width: 45rem;" id="<%= dom_id blog %>">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-header">
    <h5 class="card-title">
    <%= blog.title %>
    </h5>
  </div>

  <div class="card-body">
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= blog.body %></li>
      </ul>

      <% if request.path != blog_path(blog) %>
        <%= link_to "Read more", blog_path(blog), class: "btn btn-success col m-1"%>

      <% end %>

      <% if show_edit_button? %>
        <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-warning col m-1"%>
        <!-- <%= button_to "Destroy", blog, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger col m-1" %> -->
      <% end %>
    </div> 
  </div>
</div>
<hr>