
<div class="card my-4" style="width: 45rem;" id="<%= dom_id blog %>">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-header">
    <h5 class="card-title">
    <%= blog.title %>
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= blog.body %></li>
  </ul>
  <div class="card-body">
    <div class="row">

      <!-- <% unless request.path == blogs_path%>
        <%= link_to "All Blogs", blogs_path, class: "btn btn-primary col m-1"%>
      <% end %> -->

      <%= link_to "Read more", blog_path(blog), class: "btn btn-success col m-1" %>

      <!-- Display Edit button only if the current yser owns the blog -->
      <% if user_signed_in? && @blog && current_user == @blog.user %>
        <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-warning col m-1" %>
      <% end %>
      

      <!-- <%= button_to "Destroy", blog, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %> -->
    </div> 
  </div>
</div>
<hr>