<p style="color: green"><%= notice %></p>

<%= render @blog %>

<div>
  <%= link_to "Edit this blog", edit_blog_path(@blog) if current_user == @blog.user %> |
  <%= link_to "Back to blogs", blogs_path %>

  <%= button_to "Destroy this blog", @blog, method: :delete if current_user == @blog.user %>

</div>

<div>
  <h2>Comments</h2>
  <% @blog.comments.each do |comment| %>
    <p><strong><%= comment.user.email %>:</strong><%= comment.body%></p>
  <% end %>

  <%= form_with(model: [@blog, Comment.new], local: true) do |form| %>
    <div class="field">
      <%= form.label :body, 'Add a comment:' %>
      <%= form.text_area :body, rows: 3 %>
    </div>
    <div class="actions">
      <%= form.submit 'Add Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
